#ignore source library package folder
github.com/

sourcegraph.com/
golang.org/
zz_wickedsick/wickedsick_brainstorm.txt
zz_wickedsick/wickedsick_db.txt
zz_wickedsick/lessons_learned.txt
.gitignore
*.exe
