 <!doctype html>
 <p>Changing password for:</p>
 <form method="post" action="/inside/changepassword">
      <label for="oldpassword">Password</label>
      <input type="password" id = "oldpassword" name="oldpassword" placeholder="Enter Password">
      </br>
      </br> 
      <label for="newpassword">New Password</label>
      <input type="password" id="newpassword" name="newpassword" placeholder="Enter New Password">
      </br>
      </br> 
      <button type="submit">Change Password</button>
 </form>
 </html>